*, ::before ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --welcome-section-text:white;
    --text-color:white;
    --button-color:rgb(245,175,25,.85);
    --button-color-anim:rgb(245,175,25);
    --button-text:black;
    --background-color:black;
    --about-us-box-color:linear-gradient(to right, #ffad48, #ed8f03);
    --learn-more-button:#f5af19;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    z-index: 1000;
    top: 0;
}
.navbar a{
    color: black;
}
.navbar .left{
    display: flex;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
}
.navbar .left img{
    padding-right: 8px;
}
.navbar .right{
    padding-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .right ul{
    display: flex;
    gap: 25px;
}
@media screen and (max-width:600px) {
    .navbar .right ul{
        display: flex;
        gap: 10px;
    }
    .mappo{
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width:400px){
    .navbar{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:340px){
    .navbar .right{
        display: none;
    }
    .navbar .left{
        margin: 0 auto;
        font-size: 1.5rem;
    }
}

/*
section navbar end welcome section start
*/

.welcome-section{
    height: 60vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--welcome-section-text);
    overflow: hidden;
}
.welcome-section a{
    color: var(--welcome-section-text);
}
.welcome-image{
    z-index: 100;
}
.welcome-section::before{
    z-index: 99;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    height: 70vh;
    background-image: url(./images/welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2);
    overflow: hidden;
    max-width: 100vw;
}
.welcome-title{
    font-size: 3.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.under-welcome-title{
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 15px;
}
.welcome-image button{
    width: 200px;
    height: 45px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
    font-weight: bold;
    font-size: 0.8rem;
    transform: skew(-20deg);
    transition: 0.5s;
    margin-left: 50px;
}
.welcome-image button p{
    transform: skew(20deg);
}
.welcome-image button:hover{
    background-color: var(--button-color-anim);
    cursor: pointer;
    transform: translateX(5px) skew(-20deg);
}
@media (max-width:1000px) {
    .welcome-title{
        font-size: 2.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .under-welcome-title{
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .welcome-image button{
        margin-left: 25px;
    }
}
@media (max-width:500px){
    .welcome-section::before{
        height: 67vh;
    }
}

/*
welcome end about us start
*/

.About-Us{
    margin-top: 160px;
}
.About-Us-box{
    width: 95%;
    margin: 0 auto;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 2.0rem;
    padding: 0.3rem 1rem 1rem 1rem;
    border-radius: 6px;
    border-left: 2px solid #ed8f03;
    border-right: 2px solid #ed8f03;
}
.About-Us-Book{
    width: 200px;
    height: 45px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
    font-weight: bold;
    font-size: 0.8rem;
    transform: skew(-20deg);
    transition: 0.5s;
    margin-left: 50px;
}
.About-Us-Book p{
    transform: skew(20deg);
}
.About-Us-Book:hover{
    background-color: var(--button-color-anim);
    cursor: pointer;
    transform: translateX(5px) skew(-20deg);
}
@media (max-width:500px) {
    .About-Us{
        margin-top: 120px;
    }
}

/*
2 images
*/

.images-2{
    display: grid;
    width: 97%;
    height: 90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin:130px auto;
}
.images-2 .imgg-1{
    background-image: url(./images/random1.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    grid-column: span 2;
}
.images-2 .imgg-2{
    background-image: url(./images/random2.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 6px;
    grid-row: span 2;
    margin-right: 100px;
}
.images-2 .imgg-3{
    background-image: url(./images/random3.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    grid-column: span 2;
}
@media (max-width:400px) {
    .images-2 .imgg-2{
        display: none;
    }
    .images-2 .imgg-1, .images-2 .imgg-3{
        grid-column: span 3;
    }
}

/*
about us end srcolling img start
*/

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: 0%; }
    45% { left: -100%; }
    50% { left: -100%; }
    65% { left: -100%; }
    75% { left: -200%; }
    85% { left: -200%; }
    90% { left: -200%; }
    94% { left: -200%; }
    100% { left: -300%; }
}

.our-services{
    margin-top: 180px;
    height: 500px;
}
.container-images{
    overflow: hidden;
    position: relative;
    height: 100%;
}
.slider{
    scroll-behavior: smooth;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
    overflow: visible;
    height: 500px;
    margin: 0 auto;
    animation: 15s slidy infinite; 
}
.slider .grid-box{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.slider .grid-box .right img{
    width: 50%;
    height: 85%;
    background-position: center;
    aspect-ratio: 30/20;
}
.slider .grid-box .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .grid-box .left{
    display: flex;
    flex-direction: column;
    margin: auto 0 ;
}
.img-link{
    scroll-behavior: smooth;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: red;
    opacity: 0.75;
    display: block;
}
.container-images img{
    aspect-ratio: 2/4;
    height: 20vh;
    width: 70vw;
}

.grid-box .left{
    padding-left: 100px;
}
.book-now{
    width: 200px;
    height: 45px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
    font-weight: bold;
    font-size: 0.8rem;
    transform: skew(-20deg);
    transition: 0.5s;
    margin-left: 50px;
}
.book-now p{
    transform: skew(20deg);
}
.book-now:hover{
    background-color: var(--button-color-anim);
    cursor: pointer;
    transform: translateX(5px) skew(-20deg);
}
@media (max-width:850px) {
    .grid-box .right{
        display:none;
        position: absolute;
        visibility: hidden;
    }
    .grid-box .left{
        grid-column: span 2;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*
slider end rooms start
*/

.our-rooms{
    margin-top: 150px;
    width: 100%;
    background-image: url(./images/back-rooms.jpg);
    height: 400px;
    background-size: cover;
    object-fit: contain;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}
.our-rooms::before{
    content: '';
    position: absolute;
    background:black;
    inset: 0;
    z-index: -1;
    opacity: 0.2;
}
.our-rooms h1{
    color: var(--text-color);
    font-size: 3rem;
    letter-spacing: 2px;
}

/*
new area start
*/

.new-area{
    margin-top: 170px;
    margin-bottom: 170px;
}
.new-area-box{
    display: grid;
    width: 95%;
    height: 40vh;
    grid-template-columns: repeat(2, 1fr);
}
.new-area .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.new-area .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8rem;
    letter-spacing: 1.4px;
    word-spacing: 2px;
}
.new-area .left img{
    width: 90%;
    height: 80%;
}
.new-area .left button{
    width: 175px;
    height: 50px;
    border: 3px solid var(--learn-more-button);
    border-radius: 4px;
    background-color: var(--learn-more-button);
    color: var(--button-text);
    transition: 0.3s;
}
.new-area .left button:hover{
    color: var(--learn-more-button);
    background-color: var(--button-text);
    cursor: pointer;
}
.under-newarea-images{
    display: grid;
    grid-template-columns: 60vw 40vw;
    width: 100%;
    height: 60vh;
    margin-top: 280px;
}
.new-area .imggg-1{
    background-image: url(./images/garden-1.jpg);
    height: 100%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    margin: 0 auto;
}
.new-area .imggg-2{
    background-image: url(./images/garden-2.jpg);
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    margin: 0 auto;
}
.title{
    color: var(--learn-more-button);
}
.secound-button{
    display: none;
    width: 175px;
    height: 50px;
    border: 3px solid var(--learn-more-button);
    border-radius: 4px;
    background-color: var(--learn-more-button);
    color: var(--button-text);
    transition: 0.3s;
}
.secound-button:hover{
    color: var(--learn-more-button);
    background-color: var(--button-text);
    cursor: pointer;
}
@media (max-width:800px) {
    .new-area-box img, .new-area-box .left button{
        display: none;
    }
    .new-area-box .right{
        grid-column: span 2;
        margin-bottom: 20px;
    }
    .new-area-box{
        margin-left: 10px;
    }
    .secound-button{
        display: block;
    }
    .under-newarea-images{
        margin-top: 180px;
        grid-template-columns: 90%;
        grid-template-rows: repeat(2, 1fr);
        gap: 80px;
        height: 90vh;
    }
}
@media (max-width:550px){
    .under-newarea-images{
        margin-top: 450px;
    }
    .new-area-box{
        margin-bottom: 200px;
    }
}
@media (max-width:300px){
    .under-newarea-images{
        margin-top: 550px;
    }
}
@media (max-width:280px){
    .under-newarea-images{
        margin-top: 600px;
    }
}

/*
new area end map start
*/

.mappo{
    width: 100%;
}

/*
map end footer starts
*/

.footer{
    width: 100%;
    margin-top: 150px;
    background-color: var(--background-color);
    border-top: 2px solid #333;
    padding-top: 25px;
}
.images-box{
    display: grid;
    gap: 1px;
    grid-auto-flow: column;
    height: 150px;
    overflow:auto;
}

.images-box img{
    min-width: 200px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/8;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-logo, .footer-contact, .footer-socials{
    margin:auto;
}
.footer-logo{
    font-size: 1.8rem;
}
.footer-contact{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.footer-contact i, .footer-contact p{
    color: var(--text-color);
}
.contact{
    text-align: center;
}
.footer-socials{
    display: flex;
    gap: 15px;
}
.footer-socials *{
    color: var(--text-color);
    scale: 1.3;
}
@media (max-width:340px) {
    .footer-grid{
        grid-template-columns: 1fr;
        padding-bottom: 35px;
    }
}